#renew{
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);  
    border: 1px solid rgba(0,0,0,0.3);
  }

  .btn{
    transition: .3s all ease-in-out;
    &:hover{
      transform: scale(1.05);
    };
  }
}